body, footer *{
    margin: 0;
    padding: 0;
}

.cover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(92, 219, 166, 0.5)),url("coffee.jfif");
    background-size: contain;
    background-repeat: repeat;
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: darkgreen;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.itemcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.itemcontainer li, .div3 {
    padding: 1em;
    margin-inline-end: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(25, 150, 0);
    color: white;
}

.cover li {
    color: white;
}

#description {
    color: white;
    font-weight: bold;
    font-size: x-large;
}

button {
    margin-bottom: 1em;
}

footer {
    background-color: rgb(11, 38, 73);
    color: white;
    font-family: 'Raleway', sans-serif;
}

footer a {
    color: white;
}

footer li {
    padding-bottom: 0.5em;
}






